<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/common/head.html :: headerfiles">
</head>
<body>

<div id="wrapper">
    <ul th:replace="/fragments/common/sidebar.html :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="/fragments/common/topbar.html :: topbar"></nav>
        </div>
    </div>
</div>

<div th:insert="/fragments/common/footer.html :: footer"></div>

<div th:insert="/fragments/common/scripts.html :: scripts"></div>

</body>



</html>