<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/common/head.html :: headerfiles">
</head>
<body>

<div id="wrapper">
    <ul th:replace="/fragments/common/sidebar.html :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="/fragments/common/topbar.html :: topbar"></nav>

            <table id="friendRequests" border="1" style="width: 99%;">
                <tr>
                    <th th:text="#{user.fullName}">Full Name</th>
                    <th  th:text="#{global.details}">Details</th>
                </tr>
                <tr th:each="friend : ${friends}" th:value="${friend}" >
                    <td th:text="${friend.firstName} + ' ' + ${friend.lastName}"></td>
                    <td><a th:href="@{'/user/' + ${friend.id} + '/1'}" style="color: white;" class="btn btn-secondary" th:text="#{global.details}">Details</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div th:insert="/fragments/common/footer.html :: footer"></div>

<div th:insert="/fragments/common/scripts.html :: scripts"></div>

</body>

</html>